@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:10000px) {
  nav li {
    display: inline;
  }

  a:hover {
    background-color: green;
  }

  body {
background: #000 ;
color: #333;
}

h1 {
  color: rebeccapurple;
  text-align: center;
  }

h2 {
  color: darkorchid;
  static: justify-content;
  font-family: Cambria;
  text-align: center;

}
h3 {
  color: purple;
  static: stretch;
  font-family: Arial;
  padding-left: 30px;
  padding-right: 30px;
}

div {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#contact {
  display: block;
  align-content: center;
  text-align: center;
  color: purple;
  text-size: 14pt;
}

img {
display:flex;
justify-content:space-around;
display: inline;
border-radius: 5px;
box-shadow: 10px 15px violet;
max-width: 300px;
max-height:300px;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: auto;
  }

  ul {
    color: violet;
    font-size: 17pt;
  }

  .threecolumn {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    color:firebrick;
    font-size: 20pt
  }

  .border {
    border-radius: solid 1px #000000
    }
