body {
    font-family: "Noto+Sans";
    color: red;
}

.links {
  display: flex;
  direction: row;
  justify-content: flex-end;
}

.links a {
  color: #a679d2;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 4px;
  font-size: 12pt;
}

a:hover {
  background-color: Plum;
}

a:visited{
  color: #e6d9f2;
}

body {
  margin: 0; padding: 0;
  }

html {
  background: url("purple_ties.jpg")
  no-repeat center center;
  background-size: cover;
}

h1 {
  color: rebeccapurple;
  text-align: center;
  font-family: 'Kavivanar', cursive;
  font-size: 35pt;
  text-shadow: 2px 2px #b38cd9;
}

.list {
  color: #b38cd9;
  text-align: left;
  font-size: 16pt;
  padding: 20px;
  column-count: 2
}

h3 {
  color: #261339;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-family: 'Kavivanar', cursive;
  font-size: 35pt;
  text-shadow: 4px 2px rebeccapurple;
  text-decoration: underline;
  font-weight: bolder;
}

.listOrder {
  color: #ccb3e6;
  text-align: center;
  font-size: 18pt;
  padding: 20px;
  font-family: 'Shadows Into Light', cursive;
}

.aboutMe {
  display: inline-block;
  font-size: 19pt;
  color: #8c53c6;
  padding: 25px;
  font-family: 'Shadows Into Light', cursive;
}

#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #33194d;
  text-shadow: 2px 2px #a679d2;
  font-size: 17pt;
  font-family: "Noto+Sans";
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 7px 10px #bf9fdf;
  width: 350px;
  height: 350px;
}

form {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: auto;
}

input, textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
}

.border {
  border: solid #a679d2 7px;
  padding: 10px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width:750px) {
  .links a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo {
  flex-direction: column
    }

nav {
  float: left;
  width: 25%;
}

section {
  margin-left: 25%;
}
}
